.cards-daily {
    flex-basis: calc(33.33% - 30px); 
    height: 10cm;
    margin: 10px; 
    margin-top: 150px;
    margin-left:35% ;
    margin-right: 35.4%;
    padding: 20px;
    background-color: black; 
    color: white;
    border: .5px solid #ddd; 
    box-sizing: border-box; 
  }
  input{
    width: auto;
  }
  .daily-input{
    margin-top: -100px;
  }